name: outofmyhead workflow
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps: 
      - name: step 1
        uses: actions/checkout@v4
      - name: step 2
        run: "echo this is step 2"
      
  
